
<!-- 3D chart view -->
<div class="charts-view">
	<div class="type-swap-button">
		<p class="button-header-pie"> Alpha angle: </p>
		<button class="button-zoom" ng-click="alphaIncrease()">
			+
		</button>
		<button class="button-zoom" ng-click="alphaDecrease()">
			-
		</button>
	</div>
	<div class="type-swap-button">
		<p class="button-header-pie">Beta angle:</p>
		<button class="button-zoom" ng-click="betaIncrease()">
			+
		</button>
		<button class="button-zoom" ng-click="betaDecrease()">
			-
		</button>
	</div>
	<div>
		<p class="button-header-pie">Series:</p>
		<button class="button-zoom" ng-click="addSeries()">
			Add
		</button>
	</div>
	<highchart id="chart3" config="highcharts3D"></highchart>
</div>