
<!-- Home view -->
<div class="charts-view">
  <div class="charts-demo">
    <h2>Charts</h2>
    <ul>
    	<li>
        <a ui-sref="barchart">
          	<img src="/images/Line-bar.png" width="400" height="250" alt="The line/bar chart">
        </a>
		    <h3>Besic bar/line</h3>
      </li>
      <li>
        <a ui-sref="piechart">
          	<img  src="/images/pie.png" width="400" height="250" alt="The pie chart">
        </a>
		    <h3>Besic pie/semi donat</h3>
      </li>
    	<li>
        <a ui-sref="chart3d">
          	<img src="/images/3d.png" width="400" height="250" alt="The 3D chart">
        </a>
		    <h3>3D column with staking and grouping</h3>
      </li>
      <li>
        <a ui-sref="areachart">
      		<img src="/images/area.png" width="400" height="250" alt="The area chart">
        </a>
		    <h3>Besic area/3D column</h3>
      </li>
    </ul>
  </div>
</div>

